# Terraform provider/plugins/modules
.terraform/

# Terraform state files
terraform.tfstate
terraform.tfstate.*

.terraform.lock.hcl

# Sensitive variable files (if you use them)
*.tfvars
*.tfvars.json

# CLI configuration files
.terraformrc
terraform.rc

var.tf
ec2.tf
